<h1 class="mt-5 jumbotron text-center">All The Lost Pokemons</h1>
<%# Lots of bootstrap mixed in to make the application look nice super quick with absolutely no css, took a few cool components like cards and a jumbotron.  Check them out on bootstrap %>
<div class="container mt-2">
  <div class="row">
    <% @pokemons.each do |pokemon| %>
    <div class="card col-sm-4" style="width: 18rem; height: 132px">
      <div class="card-body">
        <h3 class="card-title"><%= link_to pokemon.name.capitalize,  pokemon_path(pokemon)%></h5>
        <h6 class="card-subtitle mb-2 text-muted">Found <%= pokemon.found_days_ago %> day(s) ago</h6>
        <%= link_to 'Edit Pokemon', edit_pokemon_path(pokemon), class: "card-link" %>
        <%= link_to 'Pokemon Found',
            pokemon_path(pokemon),
            method: :delete,
            data: { confirm:  "Are you sure?"},
            class: "card-link" %>
      </div>
    </div>
    <% end %>
    <div class="card col-sm-4 d-flex justify-content-center" style="width: 18rem; height: 132px">
      <%= link_to '<i class="fas fa-plus"></i> Add a new pokemon'.html_safe, new_pokemon_path, class: "btn btn-primary" %>
    </div>

  </div>
</div>
