<!DOCTYPE html>
<html>
  <head>
    <title>LostPokemon495</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class='mt-3'><%= link_to 'ðŸ ', pokemons_path, class: 'p-3' %></h1>
    <div class="container">
      <%= yield %>
    </div>
  <script src="https://kit.fontawesome.com/721627a3c7.js"></script>
  </body>
</html>
